body{
    background-color: #F0F8FF;
}

img{
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav{
    position: absolute;
    bottom: 5px;
    left: 40%;
}

h6{
    padding:20px;
    font-family: Georgia, Serif;
    font-size: 15px;
    font-weight: bold;

}

.container{
    padding-top: 20px;
}

.card {
    height: 100%;
    width: 100%;
    background-color: #badce3;
}
